<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfoliio_path %>

<%# <%= new_portfoliio_path %>
<%# <%= new_portfoliio_url %> 


<table>
<tr>
<th>Title</th>
<th>Sub-Title</th>
<th>Body</th>
<%# <th>Main-Image</th> %>
<th>Thumb-Image</th>
</tr>
<% @portfolio_items.each do |p| %>
<tr>
<td><%=  link_to  p.title , portfoliio_path(p.id) %></td>
<td><%= p.subtitle %></td>
<td><%= p.body %></td>
<%# <td><%= p.main_image</td>  %>
<td><%= image_tag p.thumb_image unless p.thumb_image.nil? %></td>
<%# <td><%= link_to "Show", portfoliio_path(p.id) %></td> 
<td><%= link_to "Edit", edit_portfoliio_path(p.id) %></td>
<%# <td><a href="portfoliios/<%= p.id /edit">Edithref</a></td> %>
</tr>
<% end %>